<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../header', {user: user}); %>
        <hr style="height: 2px;"
        <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    </head>
    <body>
        <
    </body>
</html>
