<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../header', {user: user}); %>
        <!-- <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'> -->
        <!-- <link rel="stylesheet" href="/index/css/loginStyle.css" media="screen" type="text/css" /> -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/index/css/sem_select.css" media="screen" type="text/css" />
        <style>
        </style>
</head>

<body>
    <hr>
    <div class="row">
        <div class="column" style="padding-left: 35%; ">
            <div class="dropdown">
                <div class="select">
                    <span>Select Semester</span>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <input type="hidden" name="semester">
                <ul class="dropdown-menu">
                    <li id="first">First</li>
                    <li id="second">Second</li>
                    <li id="third">Third</li>
                    <li id="fourth">Fourth</li>
                    <li id="fifth">Fifth</li>
                    <li id="sixth">Sixth</li>
                </ul>
            </div>
        </div>
        <div class="column" style= "padding-left: 2.5%;">
            <div class="dropdown">
                <div class="select">
                    <span>Select Subject Code</span>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <input type="hidden" name="sub_code">
                <ul class="dropdown-menu">
                    <li id="first">bla</li>
                    <li id="second">bla</li>
                    <li id="third">blabla</li>
                    <li id="fourth">bulbul</li>
                    <li id="fifth">boxbox</li>
                    <li id="sixth">pubg</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <center>
            <ul class="responsive-table">
                <li class="table-header">
                    <div class="col col-1">Test Number</div>
                    <div class="col col-2">Upload</div>
                    <div class="col col-3">Upload Status</div>
                    <div class="col col-4">Active Status</div>
                </li>
                <li class="table-row">
                    <div class="col col-1" data-label="Test Number">1</div>
                    <div class="col col-2" data-label="Upload">
                        <button class="button" style="padding-top: 2px;">
                            <span>Upload </span>
                        </button>
                    </div>
                    <div class="col col-3" data-label="Upload Status">
                        <a href="#">Pending</a>
                    </div>
                    <div class="col col-4" data-label="Active Status">
                        <label class="switch" style="position: relative; display: inline-block; width: 50px; height: 25px;">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>




                <!-- <div class="column" style=" padding-left: 2%;">
            <div class="dropdown">
                <div class="select">
                    <span>Select Test Number</span>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <input type="hidden" name="gender">
                <ul class="dropdown-menu">
                    <li id="first">1</li>
                    <li id="second">2</li>
                    <li id="third">3</li>
                    <li id="fourth">4</li>
                    <li id="fifth">5</li>
                    <li id="sixth">6</li>
                </ul>
            </div>
        </div>
        <div class="column" style="padding-left: 3%; padding-top: 1.5%;">
            <button class="button">
                <span>Upload </span>
            </button>
        </div>
        <div class="column" style="padding-top: 0.5%;"> -->
                <!-- <center><span style="font-size: 16px;">Upload Status</span></center> -->
                <!-- <span style="padding-top: 20px; font-size: 16px;" id="status">
                <center style="padding-top: 12%; color:red;">Upload Pending</center>
            </span>
        </div>
        <div class="column" style=" padding-top: 1.75%; padding-left:3%;">
            <label class="switch" style="position: relative; display: inline-block; width: 100px; height: 34px;">
                <input type="checkbox" checked>
                <span class="slider round"></span>
                <span>Active Status</span>
            </label>
        </div> -->
    </div>
    <br><br><br>
    <%- include('../footer'); %>
        <script src="/index/js/bootstrap.js"></script>
        <script>
            /*Dropdown Menu*/
            $('.dropdown').click(function () {
                $(this).attr('tabindex', 1).focus();
                $(this).toggleClass('active');
                $(this).find('.dropdown-menu').slideToggle(300);
            });
            $('.dropdown').focusout(function () {
                $(this).removeClass('active');
                $(this).find('.dropdown-menu').slideUp(300);
            });
            $('.dropdown .dropdown-menu li').click(function () {
                $(this).parents('.dropdown').find('span').text($(this).text());
                $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
            });
            /*End Dropdown Menu*/


            $('.dropdown-menu li').click(function () {
                var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
                    msg = '<span class="msg">Hidden input value: ';
                $('.msg').html(msg + input + '</span>');
            }); 
        </script>

</body>

</html>