<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../header', {user: user}) %>
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="container">
            <div class="banner-text agileits-w3layouts">
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>WELCOME TO</h6>
                                <h3>IEM</h3>
                                <div class="more">
                                    <a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>WELCOME TO</h6>
                                <h3>Ashram Campus</h3>
                                <div class="more">
                                    <a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>WELCOME TO</h6>
                                <h3>Saltlake, Kolkata</h3>
                                <div class="more">
                                    <a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- modal-sign -->
    <div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-spa">
                    <img class="img-responsive" src="/index/images/g1.jpg" alt="">
                    <p>
                        <pre>
The IEM group is an acclaimed educational group amongst the industry-centred academic training organisations of today. 
IEM has set sublime standards in addressing the technical and managerial resource shortage in the new era of dynamic globalisation. 
The IEM group has risen to fame for its strong foundation in teaching and R&D in multifaceted areas. 
It aims to serve the future generation as well as the Nation through its commitment towards self sufficiency and unmatchable excellence.
Since its inception, the IEM group has surpassed innumerable benchmarks of achievements and accreditations. 
Today IEM flaunts a colossal network of expansive operations led by an awe-inspiring student force who are the torchbearers of a better tomorrow.
The IEM Group has opened up the doors for young minds who dare to dream. It encourages the spirit of free enquiry and imagination. 
In this temple of learning, dreams take shape. 
The educational group attempts to inculcate the sense of human values and discipline in students to make them respectable human beings. 
It encourages learners to learn, to realize their potential and imbibe the best practices.


Right from its inception the placement cells of both IEM have consistently provided for 1 to 2 jobs on average for all its students.

i) IEM has ranked the 3rd best engineering college in West Bengal after IIT Kharagpur and NIT Durgapur by 
   NIRF (National Institutional Ranking Framework), Ministry of HRD, Govt of India, amd 79th all across India, where all IITs, NITs.

ii) IEM has won the title of the <strong>“Jewel of the East”</strong> by Telegraph

iii) IEM has won the title of <strong>“Picture Perfect”</strong> by ABP Group

iv) IEM has achieved the <strong>institute of India in Star News Award.</strong>

v) IEM organized IEMCON-2015 and IEMCON-2016 in University of British Columbia, Vancouver, Canada in association with IEEE Vancouver

vi) The educational group has one of the strongest Placement Cells in the country. 
    Right from its inception both IEM have provided for 1 to 2 jobs on an average for all its students. 
    The same story has been repeated even in the year 2016 with all students of both IEM getting 1 to 2 job offers on average.
                    </pre>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- banner Slider starts Here -->
    <script src="/index/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //End-slider-script -->
    <%- include('../footer'); %>
        <script src="/index/js/bootstrap.js"></script>
</body>

</html>