<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../header', {user: user}); %>
</head>
<body>
<hr>
<center><div style="height: 550px">
    <h3 class="page-header page-header icon-subheading">Msc. and BCA Routine</h3>
    <br>
        <embed src="../../Uploads/timetable/BCA-Msc Routine.pdf" width="800px" height="2100px" />

    </div></center>
<%- include('../footer'); %>
<script src="/index/js/bootstrap.js"></script>
</body>
</html>
