<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../header', {user: user}); %>
</head>
<body>
<hr>
<center><div style="height: 550px">
        <h3 class="page-header page-header icon-subheading">Download Your Timetable Here</h3>
        <br>
        <div class="icon-box col-md-3 col-sm-4" style="width: 300px;">
            <a class="agile-icon" href="https://iemgroup.s3.amazonaws.com/uploads/2017/04/BCA-MSCROUTINE-2017.xls">
                <i class="fa fa-download">
                </i> BCA/Msc</a>
        </div>
        <div class="icon-box col-md-3 col-sm-4" style="width: 300px;">
            <a class="agile-icon" href="#">
                <i class="fa fa-download">
                </i> BBA</a>
        </div>
    </div></center>
<%- include('../footer'); %>
<script src="/index/js/bootstrap.js"></script>
</body>
</html>
