<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header', {user: user}); %>
    
        <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
        <!-- Custom Theme files -->
        <link href="index/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
        <link href="index/css/style.css" type="text/css" rel="stylesheet" media="all">
        <link href="index/css/font-awesome.css" rel="stylesheet">
        <!-- font-awesome icons -->
        <!-- //Custom Theme files -->
        <!-- js -->
        <script src="index/js/jquery-2.2.3.min.js"></script>
        <!-- //js -->
        <!-- web-fonts -->
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <!-- //web-fonts -->
</head>

<body>
    <br>
    <!-- banner -->
	<div class="banner-1">
	</div> 
	<!-- //banner -->
    <div class="about">
        <div class="container">
            <div class="w3ls-title">
                <h3 class="agileits-title">About Us</h3>
            </div>
            <div class="about-w3ls-row">
                <div class="col-md-5 about-left">
                    <img src="/index/images/about.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-7 about-right">
                    <div class="about-agile-row">
                        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class=" nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About</a>
                                </li>
                                <li role="presentation">
                                    <a href="#carl" role="tab" id="carl-tab" data-toggle="tab" aria-controls="carl"> History</a>
                                </li>
                            </ul>
                            <div class="clearfix"> </div>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                    <div class="tabcontent-grids">
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                            qui officia deserunt mollit anim id est laborum sed lectus tellus, sodales id
                                            elit a, feugiat porttitor nulla.</p>
                                        <ul>
                                            <li>
                                                <i class="fa fa-check-square-o"></i> Sed tincidunt lorem sed </li>
                                            <li>
                                                <i class="fa fa-check-square-o"></i> Excepteur sint occaecat </li>
                                            <li>
                                                <i class="fa fa-check-square-o"></i> Duis aute irure dolor in </li>
                                            <li>
                                                <i class="fa fa-check-square-o"></i> Sed tincidunt lorem sed </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="carl" aria-labelledby="carl-tab">
                                    <div class="tabcontent-grids">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed
                                            velit fermentum lobortis.Excepteur sint occaecat cupidatat non proident, sunt
                                            in culpa qui officia deserunt mollit, Excepteur sint occaecat cupidatat non proident,
                                            sunt in culpa qui officia deserunt mollit anim anim id est laborum. Fusce eu
                                            semper lacus, eget placerat mauris. Sed lectus tellus, sodales id elit a, feugiat
                                            porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada
                                            sollicitudin tortor, vitae pharetra nunc lacinia eget. Nulla ornare purus nunc,
                                            ut dapibus leo sodales adipiscing. Praesent sit amet justo diam. Quisque sagittis
                                            egestas sem vitae vestibulum. Quisque nec lacus ornare, volutpat arcu in, lacinia
                                            dolor.
                                        </p>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>



    <%- include('footer'); %>
        <script src="/index/js/bootstrap.js"></script>
</body>

</html>