
<!-- footer -->
<div class="footer">
    <div class="container" style="height: 60px">
        <div class="col-md-4 w3layouts_footer_grid">
            <div class="title">
                <h2>Follow Us</h2>
            </div>
            <div class="social-icon social_agileinfo">
                <a href="/contact_us" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/iemcal/" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                <a href="/contact_us" class="social-button google"><i class="fa fa-google-plus"></i></a>
                <a href="/contact_us" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="/contact_us" class="social-button skype"><i class="fa fa-skype"></i></a>
            </div>
        </div>

        <div class="col-md-8 w3layouts_footer_grid">
            <ul class="w3l_footer_nav" style="float: right">
                <li><a href="/">Home</a></li>
                <li><a href="/about_us">About</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer-w3copy w3-agileits">
    <p>© All Rights Reserved </p>
</div>
<!-- //footer -->