<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header', {user: user}) %>
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="container">
            <div class="banner-text agileits-w3layouts">
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>WELCOME TO</h6>
                                <h3>IEM</h3>
                                <div class="more">
                                    <a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>WELCOME TO</h6>
                                <h3>Ashram Campus</h3>
                                <div class="more">
                                    <a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-textagileinfo">
                                <h6>WELCOME TO</h6>
                                <h3>Saltlake, Kolkata</h3>
                                <div class="more">
                                    <a href="#" data-toggle="modal" data-target="#myModal"> Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- modal-sign -->
    <div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-spa">
                    <img class="img-responsive" src="/index/images/g1.jpg" alt="">
                    <p>
                        <pre>
The IEM group is an acclaimed educational group amongst the industry-centred academic training organisations of today. 
IEM has set sublime standards in addressing the technical and managerial resource shortage in the new era of dynamic globalisation. 
The IEM group has risen to fame for its strong foundation in teaching and R&D in multifaceted areas. 
It aims to serve the future generation as well as the Nation through its commitment towards self sufficiency and unmatchable excellence.
Since its inception, the IEM group has surpassed innumerable benchmarks of achievements and accreditations. 
Today IEM flaunts a colossal network of expansive operations led by an awe-inspiring student force who are the torchbearers of a better tomorrow.
The IEM Group has opened up the doors for young minds who dare to dream. It encourages the spirit of free enquiry and imagination. 
In this temple of learning, dreams take shape. 
The educational group attempts to inculcate the sense of human values and discipline in students to make them respectable human beings. 
It encourages learners to learn, to realize their potential and imbibe the best practices.
IEM is established in Kolkata in the IT hub of the state of West Bengal since 1989 as the first self-financed engineering college of the state, and since then IEM has been socially accredited as the best self-financed engineering institute of West Bengal and admits the best students from the top engineering merit list of WBJEE and JEE Main.

Right from its inception the placement cells of both IEM have consistently provided for 1 to 2 jobs on average for all its students.

i) IEM has ranked the 3rd best engineering college in West Bengal after IIT Kharagpur and NIT Durgapur by NIRF (National Institutional Ranking Framework), Ministry of HRD, Govt of India, amd 79th all across India, where all IITs, NITs

ii) IEM has won the title of the <strong>“Jewel of the East”</strong> by Telegraph

iii) IEM has won the title of <strong>“Picture Perfect”</strong> by ABP Group

iv) IEM has achieved the <strong>institute of India in Star News Award.</strong>

v) IEM organized IEMCON-2015 and IEMCON-2016 in University of British Columbia, Vancouver, Canada in association with IEEE Vancouver

vi) The educational group has one of the strongest Placement Cells in the country. Right from its inception both IEM have provided for 1 to 2 jobs on an average for all its students. 
    The same story has been repeated even in the year 2016 with all students of both IEM getting 1 to 2 job offers on average.
                    </pre>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal-sign -->
    <!-- //banner -->
    <!-- welcome -->
    <!--<div class="welcome">-->
    <!--<div class="container">-->
    <!--<div class="col-md-6 welcome-w3lright">-->
    <!--<div class="welcome-grids">-->
    <!--<div class="service-box">-->
    <!--<div class="agileits-wicon">-->
    <!--<i class="fa fa-clone" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--<h5>Proin eget ipsum ultrices</h5>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--<div class="welcome-grids">-->
    <!--<div class="col-md-6 col-sm-6 col-xs-6 service-box">-->
    <!--<div class="agileits-wicon">-->
    <!--<i class="fa fa-heart-o" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--<h5>Proin eget ipsum ultrices</h5>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-sm-6 col-xs-6 service-box">-->
    <!--<div class="agileits-wicon">-->
    <!--<i class="fa fa-tv" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--<h5>Proin eget ipsum ultrices</h5>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 welcome-w3lleft">-->
    <!--<h3 class="agileits-title">Welcome !</h3>-->
    <!--<h4>Cras porttitor imperdiet volutpat nulla malesuada lectus eros ut convallis felis consectetur ut </h4>-->
    <!--<p>Nulla ultricies nunc et lorem semper, quis accumsan dui aliquam aucibus sagittis placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas-->
    <!--Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi non nibh nec enim sollicitudin interdum.tristique senectus et netus et malesuada fames ac turpis egestas-->
    <!--</p>-->
    <!--</div>-->

    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; //welcome &ndash;&gt;-->
    <!--&lt;!&ndash; testimonials &ndash;&gt;-->
    <!--<div class="testimonials">-->
    <!--<div class="container">-->
    <!--<div class="w3ls-title">-->
    <!--<h3 class="w3ls-title">Testimonials</h3>-->
    <!--</div>-->
    <!--<div class="slidw3-agileits">-->
    <!--<div class="col-md-4 slid-w3text">-->
    <!--<h4>Filan Isteku</h4>-->
    <!--<p>"Proin tincidunt sodales faucibus. Curabitur ut metus sed urna dignissim sodales ac a tellus. Sed varius justo tellus, at convallis libero cursus non. In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Fusce sed vulputate dui."</p>-->
    <!--</div>-->
    <!--<div class="col-md-4 slid-w3text">-->
    <!--<h4>Ullam Firose</h4>-->
    <!--<p>"Proin tincidunt sodales faucibus. Curabitur ut metus sed urna dignissim sodales ac a tellus. Sed varius justo tellus, at convallis libero cursus non. In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Suspendisse commodo tempor magna" </p>-->
    <!--</div>-->
    <!--<div class="col-md-4 slid-w3text">-->
    <!--<h4>Metus Ipsum</h4>-->
    <!--<p>"Proin tincidunt sodales faucibus. Curabitur ut metus sed urna dignissim sodales ac a tellus. Sed varius justo tellus, at convallis libero cursus non. In malesuada accumsan felis, a imperdiet arcu blandit sed. Ut id faucibus eros. Suspendisse commodo tempor magna" </p>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; //testimonials &ndash;&gt;-->
    <!--&lt;!&ndash; features &ndash;&gt;-->
    <!--<div class="features">-->
    <!--<div class="container">-->
    <!--<div class="w3ls-title">-->
    <!--<h3 class="agileits-title">Features</h3>-->
    <!--</div>-->
    <!--<div class="features-agilerow">-->
    <!--<div class="col-sm-6 features-left">-->
    <!--<div class="features-w3grid">-->
    <!--<div class="col-xs-3 features-w3grid-left">-->
    <!--<i class="fa fa-heart-o" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--<div class="col-xs-9 features-w3grid-right">-->
    <!--<h4>Itaque earum rerum </h4>-->
    <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--<div class="features-w3grid features-w3grid-mdl">-->
    <!--<div class="col-xs-3 features-w3grid-left">-->
    <!--<i class="fa fa-cogs" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--<div class="col-xs-9 features-w3grid-right">-->
    <!--<h4>Sapiente delectus</h4>-->
    <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--<div class="features-w3grid">-->
    <!--<div class="col-xs-3 features-w3grid-left">-->
    <!--<i class="fa fa-line-chart" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--<div class="col-xs-9 features-w3grid-right">-->
    <!--<h4>Itaque earum rerum </h4>-->
    <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-6 features-left">-->
    <!--<div class="features-w3grid">-->
    <!--<div class="col-xs-3 features-w3grid-left">-->
    <!--<i class="fa fa-cogs" aria-hidden="true"></i>-->
    <!--</div>-->

    <!--<div class="col-xs-9 features-w3grid-right">-->
    <!--<h4>Itaque earum rerum </h4>-->
    <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--<div class="features-w3grid features-w3grid-mdl">-->
    <!--<div class="col-xs-3 features-w3grid-left">-->
    <!--<i class="fa fa-line-chart" aria-hidden="true"></i>-->
    <!--</div>-->

    <!--<div class="col-xs-9 features-w3grid-right">-->
    <!--<h4>Sapiente delectus</h4>-->
    <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--<div class="features-w3grid">-->
    <!--<div class="col-xs-3 features-w3grid-left">-->
    <!--<i class="fa fa-heart-o" aria-hidden="true"></i>-->
    <!--</div>-->
    <!--<div class="col-xs-9 features-w3grid-right">-->
    <!--<h4>Itaque earum rerum </h4>-->
    <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; //features &ndash;&gt;-->
    <!--&lt;!&ndash; work start here &ndash;&gt;-->
    <!--<div class="work jarallax">-->
    <!--<div class="container">-->
    <!--<div class="work-agileinfo">-->
    <!--<h3>Are You Impressed By Our Work?</h3>-->
    <!--<p>Nor again is there anyone who loves or pursues or desires to obtain pain.</p>-->
    <!--<div class="w3btns-agile">-->
    <!--<a href="contact.html">Get In Touch</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; work end here &ndash;&gt;-->
    <!--&lt;!&ndash; news &ndash;&gt;-->
    <!--<div class="news">-->
    <!--<div class="container">-->
    <!--<div class="w3ls-title">-->
    <!--<h3 class="agileits-title">Latest News</h3>-->
    <!--</div>-->
    <!--<div class="agileits_w3layouts_news_grids">-->
    <!--<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">-->
    <!--<div class="w3_agileits_news_grid">-->
    <!--<img src="images/g3.jpg" alt=" " class="img-responsive" />-->
    <!--<div class="w3_agileits_news_grid_pos">-->
    <!--<h4>10 Aug 2017</h4>-->
    <!--</div>-->
    <!--</div>-->

    <!--<h5><a href="#" data-toggle="modal" data-target="#myModal">Bibendum ex sit amet</a></h5>-->
    <!--<p>Nunc sodales augue in felis facilisis consectetur.</p>-->
    <!--</div>-->
    <!--<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">-->
    <!--<div class="w3_agileits_news_grid">-->
    <!--<img src="images/g1.jpg" alt=" " class="img-responsive" />-->
    <!--<div class="w3_agileits_news_grid_pos">-->
    <!--<h4>15 Aug 2017</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--<h5><a href="#" data-toggle="modal" data-target="#myModal">Augue in felis facili</a></h5>-->
    <!--<p>Nunc sodales augue in felis facilisis consectetur.</p>-->
    <!--</div>-->
    <!--<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">-->
    <!--<div class="w3_agileits_news_grid">-->
    <!--<img src="images/g2.jpg" alt=" " class="img-responsive" />-->
    <!--<div class="w3_agileits_news_grid_pos">-->
    <!--<h4>20 Sep 2017</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--<h5><a href="#" data-toggle="modal" data-target="#myModal">Facilisis consecte</a></h5>-->
    <!--<p>Nunc sodales augue in felis facilisis consectetur.</p>-->
    <!--</div>-->
    <!--<div class="col-md-3 col-xs-6 agileits_w3layouts_news_grid">-->
    <!--<div class="w3_agileits_news_grid">-->
    <!--<img src="images/g3.jpg" alt=" " class="img-responsive" />-->
    <!--<div class="w3_agileits_news_grid_pos">-->
    <!--<h4>14 Oct 2017</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--<h5><a href="#" data-toggle="modal" data-target="#myModal">Sodales augue felis</a></h5>-->
    <!--<p>Nunc sodales augue in felis facilisis consectetur.</p>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; //news &ndash;&gt;-->

    <!--&lt;!&ndash; footer &ndash;&gt;-->
    <!--<div class="footer">-->
    <!--<div class="container">-->
    <!--<div class="col-md-4 w3layouts_footer_grid">-->
    <!--<div class="title">-->
    <!--<h2>Follow Us</h2>-->
    <!--</div>-->
    <!--<div class="social-icon social_agileinfo">-->
    <!--<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>-->
    <!--<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>-->
    <!--<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>-->
    <!--<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>-->
    <!--<a href="#" class="social-button skype"><i class="fa fa-skype"></i></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-8 w3layouts_footer_grid">-->
    <!--<form action="#" method="post">-->
    <!--<input type="email" name="Email" placeholder="Enter Your Email..." required="">-->
    <!--<input type="submit" value="Submit">-->
    <!--<div class="clearfix"> </div>-->
    <!--</form>-->
    <!--<ul class="w3l_footer_nav">-->
    <!--<li><a href="index.html">Home</a></li>-->
    <!--<li><a href="about.html">About</a></li>-->
    <!--<li><a href="icons.html">Icons</a></li>-->
    <!--<li><a href="portfolio.html">Portfolio</a></li>-->
    <!--<li><a href="contact.html">Contact Us</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="clearfix"> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="footer-w3copy w3-agileits">-->
    <!--&lt;!&ndash;<p>© 2017 Edify. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>&ndash;&gt;-->
    <!--</div>-->
    <!-- //footer -->
    <!-- banner Slider starts Here -->
    <script src="/index/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: false,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //End-slider-script -->
    <%- include('footer'); %>
        <script src="/index/js/bootstrap.js"></script>
</body>

</html>