<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header', {user: user}); %>
        <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
        <link rel="stylesheet" href="/index/css/loginStyle.css" media="screen" type="text/css" />
</head>

<body>
    <hr>
    <center>
        <div style="height: 550px">
            <h1>Welcome to
                <%= title %>
            </h1>
            <br>
            <br>
            <br>



            <%- include('footer'); %>
                <script src="/index/js/bootstrap.js"></script>
</body>

</html>