<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../header', {user: user}); %>
    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <link rel="stylesheet" href="/index/css/loginStyle.css" media="screen" type="text/css" />
</head>
<body>
<hr>
<center>
    <div style="height: 550px">
        <h1>Password Reset</h1>
        <br>
        <br>
        <br>
        <% if(err){ %>
        <div class="alert alert-danger" role="alert" style="width: 350px">
            <strong><%= err %></strong>
        </div>
        <% } %>
        <div class="login-card">
            <h2>Please enter the OTP</h2><br>
            <form method="POST" action="/password-reset/newPassword">

                <div class="input-group input-group-lg w3_w3layouts">
                    <span class="input-group-addon" id="sizing-addon1">Username: </span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1" name="uid" value="<%= uid %>" disabled><br>
                </div>
                <div class="input-group input-group-lg w3_w3layouts">
                    <input type="text" class="form-control" placeholder="Enter your OTP here" aria-describedby="sizing-addon1" name="OTP">
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Next">
					</span>
                </div>
                <!--
                <input type="text" name="username" placeholder="Username" autofocus="autofocus">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" name="login" class="login login-submit" value="Login">
                <button class="btn btn-default" type="submit">Go!</button>-->
            </form>
            <div class="login-help">

                <a href="/login/password_reset">Wrong Username?</a>
            </div>
            <!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->
            <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>
        </div>
    </div>
</center>
<%- include('../footer'); %>
<script src="/index/js/bootstrap.js"></script>
</body>
</html>
