<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../header.ejs %>
</head>
<body>
<hr>
<center>
</center>
<%- include('../footer'); %>
<script src="/index/js/bootstrap.js"></script>
</body>
</html>
