<html>

<head>
    <%- include('./adminHeader', {}); %>
        <hr>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="/index/css/update_stu_tch.css" media="screen" type="text/css" />
</head>

<body>
    <br>
    <br>
    <div class="login-card" style="width: 350px;">
        <h2>Add Subject</h2>
        <br>
        <form method="post">

            <input type="number" maxlength="1" id="semester" name="semester" placeholder="Semester No." required>
            <input type="text" id="sub_code" name="subject_code" placeholder="Subject Code" required>
            <input type="text" id="sub_name" name="subject_name" placeholder="Subject Name" required>
            <select id="dept" name="department" style="color: gray;" required>
                <option value="" disabled selected>Department</option>
                <option value="BCA">BCA</option>
                <option value="BBA">BBA</option>
            </select>
            <input type="submit" value="Update" class="login login-submit">

        </form>
    </div>
</body>

</html>