<html>

<head>
    <%- include('./adminHeader', {}); %>
        <hr style="height: 2px;">
        <link rel="stylesheet" href="/index/css/registerStyle.css" media="screen" type="text/css" />
        <style>
            .column {
                float: left;
                padding: 25px 10px;
                height: 90px;
                
            }

            /* Clear floats after the columns */

            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
</head>

<body>
    <div class="row">
        <div class="column" style="width: 80%;">
            <h1>
                <center>
                    Add User
                </center>
            </h1>
        </div>
        <div class="column" style="width: 20%;">
            <input type="button" name="View" class="login login-submit" style="width: 100px; float: right;" value="View Users"  onclick="window.location.assign('/superAdmin/view-user')">
        </div>
    </div>
    <br>
    <br>
    <center>
        <div style="width:400px; height: inherit; padding:3% 3% 3% 3%;" class="login-card">
            <form method="post">
                <br>
                <label for="u_id">User Id</label>
                <input type="text" id="u_id" name="u_id" placeholder="Your User ID here.." required>
                <br>
                <br>
                <label for="email">Email ID</label>
                <br>
                <input type="email" id="email" name="email" placeholder="Email ID here.." required>
                <br>
                <br>
                <label for="log_as">Login As</label>
                <select id="log_as" name="log_as" required>
                    <option value="stu">Student</option>
                    <option value="tch">Teacher</option>
                </select>
                <br>
                <br>
                <br>
                <input type="submit" name="Add" class="login login-submit" style="width: 100px;" value="Add">
                <br>
                <center>
                    <a href="/superAdmin/add-user-uploadxls">Add Multiple Users
                        <br> (Upload xls)</a>
                </center>

            </form>
        </div>
    </center>


</body>

</html>