  
    #categorylist { 
    margin-top: 6px; 
    display: none; 
    } 
    
    #category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
    display: none; 
    }
    
    #closing {
    display: none;
    font-style: italic;
    }
    .radio-pink [type="radio"]:checked+label:after {
        border-color: #1e65e9;
        background-color: #1ee928;
    }
    /*Gap*/
    
    .radio-pink-gap [type="radio"].with-gap:checked+label:before {
        border-color: #e91e63;
    }
    
    .radio-pink-gap [type="radio"]:checked+label:after {
        border-color: #e91e63;
        background-color: #e91e63;
    }          